<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <link rel="icon" ref="/img/icon.png" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>

  <body>
    <div class="container">
      <div class="main-content">
        {{> header}}

        <div class="image-container">
          <img src="/img/weather.jpg" alt="weather" />
        </div>
      </div>

      <div class="footer">Footer</div>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
